- const portfolioItems = [
-	{title: '<strong>Chat</strong>', descr: 'with auth, mongo db and websockets', link: '//njsvasin.pro/chat-express-4'},
-	{title: 'This <span>Portfolio</span>', descr: 'is made on NodeJS, Koa, pug, stylus, Webpack<br /> with Server Side Rendering', nolink: true},
-	{title: 'Auto <span>update</span>', descr: 'Vanilla NodeJS console webscrapper for auto-update of remains <span class="no-wrap">in the e-shop</span>', nolink: '//njsvasin.pro/'},
-	{title: '<span>Cash-plan</span>', descr: 'Angular 1 app', link: '//njsvasin.pro/cash-plan'},
-	{title: 'Airport <span>board</span>', descr: 'Online static template with only html, css', link: '//njsvasin.pro/airport-board'},
-	{title: 'Credit-<span>calc</span>', descr: 'Angular 4, pug, stylus, custom webpack config', link: '//njsvasin.pro/credit-calc'},
- ];

section#works.screen-block
	.grid.grid--container
		.row
			.col.col--sm-6.col--sm-offset-3
				.screen-block__header.wow.fadeInUp
					h2.screen-block__title My works
					.screen-block__line
					.screen-block__subtitle
						| No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.

		.row
			each val, i in portfolioItems
				.col.col--xs-12.col--sm-4.col--md-4
					.hover-animation.wow.zoomIn
						figure.hover-animation__wrapper(class={special: i === 5})
							mixin innerBlock
								img.hover-animation__image(src=`/images/static/item-${i + 1}.jpg` alt=`img0${i}`)
								figcaption.hover-animation__text-block
									h2.hover-animation__title!= val.title
									p.hover-animation__caption!= val.descr

							if !val.nolink
								a(href=`${val.link}` target="_blank")
									+innerBlock
							else
								+innerBlock
